<section class="navbar_Section">

    <nav class="navbar">

        <div class="navbar_left">
            <a href="/"><img src="/images/logo.png" alt="logo" width="70px" height="70px"></a>
    

        </div>
        <div class="navbar_right">
            <ul>
            
                
                <li><a href="/about">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        

    </nav>
</section>