

<section class="writePage_section">
    <div class="writePage">
        <form class="writePage_form" action="/writeBlog" method="post">
            <!-- <label for="Title"><b>Title</b></label> -->
            <div class="writePage_input">
            <input type="text" placeholder="Title"  name="title">
            </div>
            <!-- <label for="snippet">Enter a snippet</label> -->
            <div class="writePage_input">
            <input  type="text" placeholder="Snippet" name="snippet">

            </div>

            <!-- <label for="body">Enter content</label> -->
            <textarea name="body" placeholder="Write" cols="50" rows="10"></textarea>
            <input class="orange_btn" type="submit" value="Add">
        </form>
    </div>
    
</section>

